.highlight {
    border-radius: 0.4rem;
    padding: 0.5rem;
    margin-bottom: 1rem;
    color: black;
    font-weight: 700;
    
  }
  .bold {
    padding-left: 1rem;
    font-weight: 700;
  }
  .green {
    background-color: green;
  }
  .red {
    background-color: red;
  }
  .yellow {
    background-color: yellow;
  }
  .orange {
    background-color: orange;
  }
  .gray {
    background-color: gray;
  }
  .tab{
    display: inline-block;
    margin-left: 40px;
  }
  .rectangle{
    float: left;
    height: 20px;
    width: 20px;
    margin-right:15px;
    /* margin-bottom: 15px;
    border: 1px solid black; */
    clear: both;
  }

  .left{
    margin-left: 20px;
  }
  .clear{
    white-space: nowrap;
  }